<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ BASE_URL }}">
    <meta name="description" content="{{ @v.meta.description }}">
    <meta name="keywords" content="{{ @v.meta.keywords }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <title>{{ @v.title }}</title>
</head>
<body>
    <include href="{{ @v.header }}" if="{{ !empty(@v.header) }}" />
    <include href="{{ @v.content }}" if="{{ !empty(@v.content) }}" />
</body>
</html>